

services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    # ports:
    #   - "8200:8200"
    network_mode: "host"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: "root"
      VAULT_DEV_LISTEN_ADDRESS: "0.0.0.0:8200"
      VAULT_ADDR: "http://0.0.0.0:8200"
    cap_add:
      - IPC_LOCK
    volumes:
      - ./config.hcl:/vault/config/config.hcl
    command: server -dev -config=/vault/config/config.hcl
